<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.robin.papers">


    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56128c76e0f55aa3ff006c5c" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="c2541a3865a5219a99f86aa10cffd85d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="期末考啦"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="期末考啦"
            android:screenOrientation="portrait" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.WebViewActivity"
            android:label="期末考啦"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdsActivity"
            android:label="期末考啦"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileFolderActivity"
            android:label="期末考啦"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FileDetailActivity"
            android:label="期末考啦"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DiscoveryFragment"
            android:label="期末考啦"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StudentsCircleFragment"
            android:label="期末考啦"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.LoginActivity"></activity>


    </application>

</manifest>